@import 'tailwindcss';

@layer base {
  html {
    height: 100%;
  }

  body {
    height: 100%;
    background-color: #f0f1f4;
    overflow: hidden;
  }
}

@layer components {
  .home-container {
    @apply h-[calc(100%-85px)];
  }

  .article-title {
    @apply w-fit;
  }

  .article-list {
    @apply h-[100%] flex flex-col gap-2.5 p-[16px] pb-[85px] overflow-y-auto;
  }
}
